.date-picker-container {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.datapicker-label {
  color: #0078d4 !important;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 5px 0 5px;
}
.label-bold {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 0 0 10px !important;
  border: none !important;
  /* width: 60% !important; */
}
